accelerate
bitsandbytes
datasets
huggingface_hub
hf_transfer
jsonlines
matplotlib
nltk
numpy
pandas
peft
protobuf
scikit-learn
scipy
seaborn
sentencepiece
tensorflow
torch
torchvision
tqdm
transformers
trl
triton
unsloth
xgboost
xformers==0.0.29.post3
